<section>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ex
    laudantium eveniet ipsam itaque blanditiis quo, assumenda fuga debitis
    voluptas, unde repellendus deserunt minus quia eos sequi beatae laborum
    nostrum?
  </p>
  <app-learning></app-learning>
  <nav class="navbar navbar-expand-lg bg-secondary border-bottom border-body" data-bs-theme="secondary">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
    <a class="nav-link active" routerLink="directives">LEARN DIRECTIVES</a></li>
    <li class="nav-item">
    <a class="nav-link active" routerLink="pipes">LEARN PIPES</a></li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="directives2">LEARN DIRECTIVES</a></li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="pipes2">LEARN PIPES</a></li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="pipes3">LEARN PIPES</a></li>
         
</ul>
  </nav>
  <router-outlet></router-outlet>
</section>
